@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

.customScrollBar::-webkit-scrollbar {
   height: 4px;
   background-color: #e5e7eb;
   border-radius: 5px;
}

.customScrollBar::-webkit-scrollbar-thumb {
   background-color: #2563eb;
   border-radius: 5px;
}
